{% extends 'base.html' %}

{% block content %}

{% load static %}

    <!-- home
    ================================================== -->
    <!-- <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/bg-home.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center> -->
      <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/bg-home.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h1>Create a plan</h1>

                <div class="home-content__buttons">
                  <a href="{% url 'home' %}" class="btn btn--stroke">Ovarian stimulation</a><br>
                  <a href="{% url 'home' %}" class="btn btn--stroke">Endometrial preparation</a><br>
                  <br>
                  <a href="{% url 'home' %}" class="btn btn--stroke">Back</a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->
      </section> 


{% endblock %} 